#barcodevideo,#barcodecanvas,#barcodecanvasg{
    height: 300px;
}
#barcodecanvasg{
    position: absolute;
    top: 0px;
    left: 0px;
}
#result {
    position: absolute;
    font-family: verdana;
    font-size: 1.8em;
    top: 350px;
    right: 50px;
    color: black;

}
#barcode{
    position: relative;
    width: 50vh;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    top: 10px;
}

#barcodecanvas{
    display: none;
}
